body, ul, li, a, p {
  padding: 0;
  margin: 0;
  border: 0;
  font-style: inherit;
  font-weight: inherit;

}

li {
  list-style: none;
}



.tabs a.active {
  font-weight: bold;
}

li.tab-pane {
  display: none;
}

li.tab-pane.active {
  display: block;
}
